:root{
    --body_background_color: #E1E5EE;
    --header-background_color: #2A324B;
    --main-color: #fff;


}

body {
    font-family: "Roboto", serif;
    background-color: var(--body_background_color); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}
.container {
    width: 800px;
    height: 400px;
    background-color: var(--main-color);
    

    
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 0;
    
    background-color: var(--body_background_color);
}
nav ul li {
    padding: 10px 35px;
    background-color: var(--header-background_color);
    color: white;
    cursor: pointer;
    
    font-weight: bold;
}
nav ul li.active {
    background-color: var(--main-color);
    color: black;
}

article {
    padding: 20px;
}

ul {
    padding-left: 20px;
}










  
 